.play-again {
  background-color: #4caf50;
  border-radius: 8px;
  border: None;
  border-color: white;
  color: white;
  padding: 15px 32px 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px auto;
  display: block;
}

.player-container {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  align-content: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.player {
  border-radius: 8px;
  border: None;
  border-color: white;
  color: white;
  padding: 15px 32px 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px auto;
}

.p1 {
  background-color: var(--player-one-color);
  display: inline-block;
}

.p2 {
  background-color: var(--player-two-color);
  display: inline-block;
}

.inactive {
  background-color: var(--player-inactive-color);
}
