.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: 5px solid #ffffff;
  color: var(--card-color);
  text-align: left;
}

nav {
  margin-left: auto;
  text-align: center;
}
